<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipes</title>
</head>
<body>
    <form method="POST" acton="/easypeasy">
        <input type="text" name="name" placeholder="enter name here">
        <input type="text" name="ingredients" placeholder="enter ingredient here">
        <input type="text" name="totalTime" placeholder="enter total time here">
        <input type="submit" value="New Recipes">

    </form>
    
</body>
</html>