*{
    box-sizing:border-box;
}

body {
    background-color: palegreen;
    background-image: url(https://i.imgur.com/XP6oz9x.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 250px;
}
