*{
    box-sizing:border-box;
}

body {
    background-color: rgba(140, 216, 140, 0.872);
    background-image: url(https://i.imgur.com/XP6oz9x.png);
    background-position: top 80px center;
    background-repeat: no-repeat;
    background-size: 350px;
}

h1{
    text-align: center;
    color: white;
}

h2 {
    color: rgba(133, 159, 49, 0.978);

}

.homeHeader {
    position: center;
    padding: 25px;
    padding-top: 25em;
    text-align: center;
}


