*{
    box-sizing: border-box;
}

body {
    background-color:  rgba(140, 216, 140, 0.872);
    background-position: 50% 50%;
    padding-bottom: 50px;
}

h1 {
    padding: 25px;
    font-size: 48px;
    text-align: center;
}

h2 {
    padding: 3px;
    padding-bottom: 20px;
    text-align: center;
}

a {
    padding: 10px;
}

.form-label {
    font-size: 24px;
}

.container {
    flex-direction: column;
    justify-items: center;
    max-width: 600px;
}