*{
    box-sizing:border-box;
}

body {
    background-color:  rgba(140, 216, 140, 0.872);
    background-image: url(https://i.imgur.com/XP6oz9x.png);
    
}

h1{
    text-align: center;
}

h2 {
    text-align: center;
}